# Python
__pycache__/
*.pyc

# Environments
.env
.venv/
env/
venv/
anaconda3/
conda-meta/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Data (optional but common)
*.csv
*.parquet
*.h5